<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="pagination-fragment">
  <nav th:if="${!results.isEmpty()}" th:with="pageNumber = ${results.pageable.pageNumber},
                                              pageSize = ${results.pageable.pageSize},
                                              totalPages = ${results.totalPages},
                                              startPage = ${T(Math).floor(pageNumber / pageSize) * pageSize + 1},
                                              tempEndPage = ${startPage + pageSize - 1},
                                              endPage = (${tempEndPage > totalPages ? totalPages : tempEndPage})">
    <ul class="pagination">
      <!-- 이전 페이지 -->
      <li class="page-item" th:classappend="${results.first} ? 'disabled' : ''">
        <!-- 이전 페이지가 있을 때 -->
        <a class="page-link" th:if="${!results.first}"
           th:href="@{${url}(page=${#numbers.formatDecimal(startPage - pageSize, 0, -1)},
                                             sortOption=*{sortOption},
                                             searchOption=*{searchOption},
                                             searchKeyword=*{searchKeyword})}">&lt;</a>
        <!-- 이전 페이지가 없을 때 -->
        <a class="page-link" th:if="${results.first}">&lt;</a>
      </li>
      <!-- 중간 페이지 (0 페이지부터 시작하므로 +1) -->
      <li class="page-item" th:each="page: ${#numbers.sequence(startPage, endPage)}"
                            th:classappend="${page == pageNumber + 1} ? 'active'">
        <a class="page-link" th:text="${page}"
                             th:href="@{${url}(page=${page},
                                               sortOption=*{sortOption},
                                               searchOption=*{searchOption},
                                               searchKeyword=*{searchKeyword})}"></a>
      </li>
      <!-- 다음 페이지 -->
      <li class="page-item" th:classappend="${results.last} ? 'disabled' : ''">
        <!-- 다음 페이지가 있을 때 -->
        <a class="page-link" th:if="${!results.last}"
                             th:href="@{${url}(page=${#numbers.formatDecimal(startPage + pageSize, 0, -1)},
                                               sortOption=*{sortOption},
                                               searchOption=*{searchOption},
                                               searchKeyword=*{searchKeyword})}">&gt;</a>
        <!-- 다음 페이지가 없을 때 -->
        <a class="page-link" th:if="${results.last}">&gt;</a>
      </li>
    </ul>
  </nav>
</th:block>

</html>