* {
    font-family: Noto Sans, Noto Sans KR, "Malgun Gothic", "맑은 고딕", sans-serif;
}

.blank-box {
    height: 48.3rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #e3e6f0;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #ffffff;
    border-top: 1px solid #e3e6f0;
}

small {
    font-size: 90%;
}

small,
.small {
    font-size: 90%;
    font-weight: 400;
}

.bg-form {
    width: 50%;
    padding: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /*background-image: radial-gradient(ellipse farthest-corner at 0 140%, #5d9dff 0%, #2178ff 70%, #3585ff 70%);*/
    background-image: radial-gradient(ellipse farthest-corner at 0 140%, #6b87de 0%, #607fde 70%, #4e73df 70%);
}

.bg-form h1 {
    color: white;
    width: 100%;
    text-align: right;
    opacity: 0.9;
}

.bg-form p {
    padding-top: 50px;
    font-size: 12px;
    text-align: right;
    opacity: 0.8;
}

#userDetails span {
    color: white;
    font-size: 0.85rem;
}

.text-invalid {
    color: #e83e8c !important;
}

.text-valid {
    color: #4e73df !important;
}