<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutPage}">

<head>
  <title>Search Analyzer :: Host Result</title>
  <link th:href="@{/css/keywords/hostPage.css}" rel="stylesheet">
  <script th:src="@{/js/keywords/hostPage.js}"></script>
</head>

<div layout:fragment="content">
  <div class="card">
    <div class="card-header">
      <h5 class="text-primary font-weight-bold m-0">검색 호스트 통계</h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <!-- 정렬 및 검색 -->
        <div class="row">
          <th:block th:replace="components/keywords/hostPage/searchSort::searchSort-fragment"/>
        </div>
        <!-- 테이블 -->
        <div class="row">
          <th:block th:replace="components/keywords/hostPage/table::table-fragment"/>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <!-- 페이지네이션 -->
      <th:block th:replace="components/keywords/hostPage/pagination::pagination-fragment"/>
    </div>
  </div>
</div>

</html>